.topMenu__wrap {
    background-color: #FF0000;
    display: flex;
    justify-content: center;
}

.topMenu {
    width: 980px;
    height: 80px;
    display: flex;
    justify-content: center;
}

.topMenu__logo {
    width: 200px;
}

.topMenu__navPanel {
    flex-grow: 1;
}