version: '3.4'

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2019-latest

  countyrp.webapi:
    image: ${DOCKER_REGISTRY-}countyrpwebapi
    build:
      context: .
      dockerfile: CountyRP.WebAPI/Dockerfile
    depends_on:
      - mssql

  countyrp.website:
    image: ${DOCKER_REGISTRY-}countyrpwebsite
    build:
      context: .
      dockerfile: CountyRP.WebSite/Dockerfile

  countyrp.services.site:
    image: ${DOCKER_REGISTRY-}countyrpservicesite
    build:
      context: .
      dockerfile: Services/Site/Site.API/Dockerfile
    depends_on:
      - mssql

  countyrp.services.forum:
    image: ${DOCKER_REGISTRY-}countyrpserviceforum
    build:
      context: .
      dockerfile: Services/Forum/Forum.API/Dockerfile
    depends_on:
      - mssql

  countyrp.services.game:
    image: ${DOCKER_REGISTRY-}countyrpservicegame
    build:
      context: .
      dockerfile: Services/Game/Game.API/Dockerfile
    depends_on:
      - mssql

  countyrp.services.logs:
    image: ${DOCKER_REGISTRY-}countyrpservicelogs
    build:
      context: .
      dockerfile: Services/Logs/Logs.API/Dockerfile
    depends_on:
      - mssql

  countyrp.apigateways.adminpanel.api:
    image: ${DOCKER_REGISTRY-}countyrpapigatewayadminpanelapi
    build:
      context: .
      dockerfile: ApiGateways/AdminPanel/AdminPanel.API/Dockerfile

  countyrp.apigateways.forum.api:
    image: ${DOCKER_REGISTRY-}countyrpapigatewayforumapi
    build:
      context: .
      dockerfile: ApiGateways/Forum/Forum.API/Dockerfile
